<%= provide :title, "Users" %>

<div class="col-3">
  <%= render "shared/error_messages", resource: @user %>
  <%= render "shared/user_form", button_text: "Create user" %>
</div>

<div id="table-panel" class="col-9 users">
  <div id="table-container">
    <%= render "users/users_display" %>
  </div>
  <%= paginate @users %>
</div>
