<%= provide :title, "Users" %>

<div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
    <%= render "shared/error_messages", resource: @user %>
    <%= render "users/user_form", button_text: "Create user" %>
  </div>

  <div id="table-panel" class="col-sm-9 col-md-9 col-lg-9 users">
    <div id="table-container">
      <%= render "users/users_display" %>
    </div>
    <%= paginate @users %>
  </div>
</div>
