<%= provide :title, "Users" %>

<%= render "shared/error_messages", resource: @user %>
<%= render "shared/user_form", button_text: "Create user" %>

<%= will_paginate %>
  <ul class="users">
    <% @users.each do |user| %>
      <li>
        <div class="user_name">
          <%= user.email %>
        </div>
        <div class="delete_user">
          <%= link_to "edit", user_path(user.id) %>
          <% unless user == current_user %>
            <%= link_to "delete", user, method: :delete, data: { confirm: "Delete for realsies?" } %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
<%= will_paginate %>
