<h2>Register User</h2>

<% if @user.errors.any? %>
  <div id="error_explanation">
  <div class="alert alert-error">
    The form contains <%= pluralize(@user.errors.count, "error") %>.
  </div>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= form_for @user do |f| %>
  <div>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div><%= f.submit "Register" %></div>
<% end %>
