<div id=<%= "edit-#{model_name.singular.dasherize}" %> class="edit-data-point">
  <%= form_for @data_point do |f| %>
    <div class="form-group">
      <%= render(partial: "#{model_name.plural}/#{model_name.singular}_form_fields",
                 locals: {o: f}) %>
    </div>
    <%= f.submit "Update #{display_name}", class: "btn btn-primary" %>
  <% end %>
  <%= link_to "Cancel", patient_records_path(@data_point.patient_id), remote: cancel_link_remote_p, id: "cancel-update", class: "btn btn-primary" %>
</div>
