<div id=<%= "edit-#{model_name.singular.dasherize}" %> class="edit-data-point">
  <%= bootstrap_form_for(@data_point) do |f| %>
    <div id="error-message">
      <%= f.alert_message(form_error_message(@data_point.errors.count),
                          error_summary: false) %>
    </div>
    <%= render(partial: "#{model_name.plural}/#{model_name.singular}_form_fields",
               locals: {o: f}) %>
    <%= f.submit("Update #{display_name}", class: "btn btn-primary") %>
  <% end %>
  <%= link_to("Cancel",
              patient_records_path(@data_point.patient_id),
              remote: cancel_link_remote_p,
              id: "cancel-update",
              class: "btn btn-primary") %>
</div>
