<div id="records">
  <div id="bmi-records" class="records-row clearfix">
    <div class="data-label">
      <span>BMI</span>
    </div>
  <% @bmis.each do |o| %>
    <div class="data-point">
      <span class="value"><%= o.bmi %></span>
      <span class="date"><%= o.date %></span>
    </div>
  <% end %>
  </div>

  <div id="eye-exam-records" class="records-row clearfix">
    <div class="data-label">
      <span>Eye exam date</span>
    </div>
  <% @eye_exams.each do |o| %>
    <div class="data-point">
      <span class="date"><%= o.date %></span>
    </div>
  <% end %>
  </div>

  <div id="foot-exam-records" class="records-row clearfix">
    <div class="data-label">
      <span>Foot exam date</span>
    </div>
  <% @foot_exams.each do |o| %>
    <div class="data-point">
      <span class="date"><%= o.date %></span>
    </div>
  <% end %>
  </div>

  <div id="a1c-records" class="records-row clearfix">
    <div class="data-label">
      <span>A1c</span>
    </div>
  <% @a1cs.each do |o| %>
    <div class="data-point">
      <span class="value"><%= o.a1c %></span>
      <span class="date"><%= o.date %></span>
    </div>
  <% end %>
  </div>

  <div id="cholesterol-records" class="records-row clearfix">
    <div class="data-label">
      <span>TC</span>
      <span>TG</span>
      <span>HDL</span>
      <span>LDL</span>
    </div>
  <% @cholesterols.each do |o| %>
    <div class="data-point">
      <span class="value tc"><%= o.tc %></span>
      <span class="value tg"><%= o.tg %></span>
      <span class="value hdl"><%= o.hdl %></span>
      <span class="value ldl"><%= o.ldl %></span>
      <span class="date"><%= o.date %></span>
    </div>
  <% end %>
  </div>

  <div id="acr-records" class="records-row clearfix">
    <div class="data-label">
      <span>ACR</span>
    </div>
  <% @acrs.each do |o| %>
    <div class="data-point">
      <span class="value"><%= o.acr %></span>
      <span class="date"><%= o.date %></span>
    </div>
  <% end %>
  </div>

  <div id="renal-records" class="records-row clearfix">
    <div class="data-label">
      <span>BUN</span>
      <span>Creatinine</span>
    </div>
  <% @renals.each do |o| %>
    <div class="data-point">
      <span class="value bun"><%= o.bun %></span>
      <span class="value creatinine"><%= o.creatinine %></span>
      <span class="date"><%= o.date %></span>
    </div>
  <% end %>
  </div>

  <div id="ckd-stage-records" class="records-row clearfix">
    <div class="data-label">
      <span>CKD</span>
    </div>
  <% @ckd_stages.each do |o| %>
    <div class="data-point">
      <span class="value"><%= o.ckd_stage %></span>
      <span class="date"><%= o.date %></span>
    </div>
  <% end %>
  </div>

  <div id="liver-records" class="records-row clearfix">
    <div class="data-label">
      <span>AST</span>
      <span>ALT</span>
    </div>
  <% @livers.each do |o| %>
    <div class="data-point">
      <span class="value ast"><%= o.ast %></span>
      <span class="value alt"><%= o.alt %></span>
      <span class="date"><%= o.date %></span>
    </div>
  <% end %>
  </div>

  <div id="flu-records" class="records-row clearfix">
    <div class="data-label">
      <span>Flu date</span>
    </div>
  <% @flus.each do |o| %>
    <div class="data-point">
      <span class="date"><%= o.date %></span>
    </div>
  <% end %>
  </div>

  <div id="pneumonia-records" class="records-row clearfix">
    <div class="data-label">
      <span>Pneumonia date</span>
    </div>
  <% @pneumonias.each do |o| %>
    <div class="data-point">
      <span class="date"><%= o.date %></span>
    </div>
  <% end %>
  </div>
</div>
