<div id="records">
  <% @records.each do |r| %>
    <div id=<%= r[:record_type_id] %> class="records-row clearfix">
      <div class="data-label">
        <% r[:data_labels].each do |data_label| %>
          <span><%= data_label %></span>
        <% end %>
      </div>

      <div class="data-points">
        <table>
          <tr>
            <% r[:data_points].each do |data_point| %>
              <td>
                <div class="data-point">
                  <% r[:data_keys].each do |k| %>
                    <span class="value">
                      <% n = data_point.send(k) %>
                      <%= number_with_precision(n,
                                                precision: precision(n),
                                                raise: true) %>
                    </span>
                  <% end %>
                  <span class="date"><%=l data_point.date %></span>
                  <div class="record-controls">
                    <%= link_to("edit", send("edit_#{r[:data_point_path]}", data_point[:id]),
                                class: "edit-data-point",
                                remote: true) %>
                    <%= link_to("delete", send(r[:data_point_path], data_point.id),
                                method: :delete,
                                data: { confirm: "Confirm delete.".html_safe },
                                class: "delete-data-point") %>
                  </div>
                </div>
              </td>
            <% end %>
          </tr>
        </table>
      </div>
    </div>
  <% end %>
</div>
