<% records = [{view_model_key: :a1c,
               fields: [["A1c", :a1c],
                        ["Date (mm/dd/yyyy)", :date]],
               data_point_path: "a1c_path"},
              {view_model_key: :acr,
               fields: [["ACR", :acr_in_mcg_alb_per_mg_cr],
                        ["Date (mm/dd/yyyy)", :date]],
               data_point_path: "acr_path"},
              {view_model_key: :blood_pressure,
               fields: [["Systolic (mmHg)", :systolic_in_mmhg],
                        ["Diastolic (mmHg)", :diastolic_in_mmhg],
                        ["Date (mm/dd/yyyy)", :date]],
               data_point_path: "blood_pressure_path"},
              {view_model_key: :bun_and_creatinine,
               fields: [["BUN (mg/dL)", :bun_in_mg_per_dl],
                        ["Creatinine (mg/dL)", :creatinine_in_mg_per_dl],
                        ["Date (mm/dd/yyyy)", :date]],
               data_point_path: "bun_and_creatinine_path"},
              {view_model_key: :cholesterol,
               fields: [["LDL (mg/dL)", :ldl_in_mg_per_dl],
                        ["Date (mm/dd/yyyy)", :date]],
               data_point_path: "cholesterol_path"},
              {view_model_key: :ckd_stage,
               fields: [["CKD stage", :ckd_stage],
                        ["Date (mm/dd/yyyy)", :date]],
               data_point_path: "ckd_stage_path"},
              {view_model_key: :eye_exam,
               fields: [["Eye exam date (mm/dd/yyyy)", :date]],
               data_point_path: "eye_exam_path"},
              {view_model_key: :foot_exam,
               fields: [["Foot exam date (mm/dd/yyyy)", :date]],
               data_point_path: "foot_exam_path"},
              {view_model_key: :measurements,
               fields: [["Height (in)", :height_in_inches],
                        ["Waist (in)", :waist_circumference_in_inches],
                        ["Weight (lb)", :weight_in_pounds],
                        ["Date (mm/dd/yyyy)", :date]],
               data_point_path: "measurement_path"},
              {view_model_key: :testosterone,
               fields: [["Testosterone (ng/dL)", :testosterone_in_ng_per_dl],
                        ["Date (mm/dd/yyyy)", :date]],
               data_point_path: "testosterone_path"}] %>

<div id="records">
  <% records.each do |r| %>
    <% record_type_id = "#{r[:view_model_key].to_s.dasherize}-records" %>
    <% data_labels = r[:fields].map { |x| x.first } %>
    <% data_keys = r[:fields].map { |x| x.last }.reject { |k| k == :date } %>
    <% data_points = @view_model[r[:view_model_key]] %>
    <% data_point_path = r[:data_point_path] %>

    <div id=<%= record_type_id %> class="records-row clearfix">
      <div class="data-label">
        <% data_labels.each do |l| %>
          <span><%= l %></span>
        <% end %>
      </div>

      <div class="data-points">
        <table>
          <tr>
            <% data_points.each do |data_point| %>
              <td>
                <div class="data-point">
                  <% data_keys.each do |k| %>
                    <span class="value"><%= data_point[k] %></span>
                  <% end %>
                  <span class="date"><%= data_point[:date] %></span>
                  <div class="record-controls">
                    <%= link_to "edit", send("edit_#{data_point_path}", data_point[:id]), class: "edit-data-point", remote: true %>
                    <%= link_to "delete", send(data_point_path, data_point[:id]), method: :delete, data: { confirm: "Confirm delete.".html_safe }, class: "delete-data-point" %>
                  </div>
                </div>
              </td>
            <% end %>
          </tr>
        </table>
      </div>
    </div>
  <% end %>
</div>
