<%= form_for [@patient, @record] do |f| %>
  <%= f.hidden_field :patient_id, value: params[:patient_id] %>
  <div class="form-group">
    <div id="bmi" class="row">
      <div class="col-sm-5, col-md-5, col-lg-5">
        <%= f.label :bmi, "BMI" %><br />
        <%= f.text_field :bmi, class: "form-control" %>
      </div>
      <div class="col-sm-7, col-md-7, col-lg-7">
        <%= f.label :bmi_date, "Date" %><br />
        <%= f.date_field :bmi_date, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :eye_exam_date, "Eye Exam Date" %><br />
    <%= f.date_field :eye_exam_date, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :foot_exam_date, "Foot Exam Date" %><br />
    <%= f.date_field :foot_exam_date, class: "form-control" %>
  </div>
  <div class="form-group">
    <div id="a1c" class="row">
      <div class="col-sm-5, col-md-5, col-lg-5">
        <%= f.label :a1c, "A1c (%)" %><br />
        <%= f.text_field :a1c, class: "form-control" %>
      </div>
      <div class="col-sm-7, col-md-7, col-lg-7">
        <%= f.label :a1c_date, "Date" %><br />
        <%= f.date_field :a1c_date, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div id="cholesterol" class="row">
      <div class="col-sm-3, col-md-3, col-lg-3">
        <%= f.label :tc, "TC<br />(mg/dl)".html_safe %><br />
        <%= f.text_field :tc, class: "form-control" %>
      </div>
      <div class="col-sm-3, col-md-3, col-lg-3">
        <%= f.label :tg, "TG<br />(mg/dl)".html_safe %><br />
        <%= f.text_field :tg, class: "form-control" %>
      </div>
      <div class="col-sm-3, col-md-3, col-lg-3">
        <%= f.label :hdl, "HDL<br />(mg/dl)".html_safe %><br />
        <%= f.text_field :hdl, class: "form-control" %>
      </div>
      <div class="col-sm-3, col-md-3, col-lg-3">
        <%= f.label :ldl, "LDL<br />(mg/dl)".html_safe %><br />
        <%= f.text_field :ldl, class: "form-control" %>
      </div>
    </div>
    <div>
      <%= f.label :cholesterol_date, "Date" %><br />
      <%= f.date_field :cholesterol_date, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div id="acr" class="row">
      <div class="col-sm-5, col-md-5, col-lg-5">
        <%= f.label :acr, "ACR (mcg/mg)" %><br />
        <%= f.text_field :acr, class: "form-control" %>
      </div>
      <div class="col-sm-7, col-md-7, col-lg-7">
        <%= f.label :acr_date, "Date" %><br />
        <%= f.date_field :acr_date, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div id="bun-creatinine" class="row">
      <div class="col-sm-6, col-md-6, col-lg-6">
        <%= f.label :bun, "BUN (mg/dl)" %><br />
        <%= f.text_field :bun, class: "form-control" %>
      </div>
      <div class="col-sm-6, col-md-6, col-lg-6">
        <%= f.label :creatinine, "Creatinine (mg/dl)" %><br />
        <%= f.text_field :creatinine, class: "form-control" %>
      </div>
    </div>
    <div>
      <%= f.label :bun_creatinine_date, "Date" %><br />
      <%= f.date_field :bun_creatinine_date, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div id="ckd-stage" class="row">
      <div class="col-sm-5, col-md-5, col-lg-5">
        <%= f.label :ckd_stage, "CKD Stage" %><br />
        <%= f.text_field :ckd_stage, class: "form-control" %>
      </div>
      <div class="col-sm-7, col-md-7, col-lg-7">
        <%= f.label :ckd_stage_date, "Date" %><br />
        <%= f.date_field :ckd_stage_date, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div id="ast-alt" class="row">
      <div class="col-sm-6, col-md-6, col-lg-6">
        <%= f.label :ast, "AST (mg/dl)" %><br />
        <%= f.text_field :ast, class: "form-control" %>
      </div>
      <div class="col-sm-6, col-md-6, col-lg-6">
        <%= f.label :alt, "ALT (mg/dl)" %><br />
        <%= f.text_field :alt, class: "form-control" %>
      </div>
    </div>
    <div>
      <%= f.label :ast_alt_date, "Date" %><br />
      <%= f.date_field :ast_alt_date, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div>
      <%= f.label :flu_date, "Flu Date" %><br />
      <%= f.date_field :flu_date, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div>
      <%= f.label :pneumonia_date, "Pneumonia Date" %><br />
      <%= f.date_field :pneumonia_date, class: "form-control" %>
    </div>
  </div>

  <%= f.submit button_text, class: "btn btn-primary" %>
<% end %>
