<% if @record.errors.any? %>
  <div id="error_explanation">
  <div class="alert alert-error">
    The form contains <%= pluralize @record.errors.count, "error" %>.
  </div>
  <ul>
    <% @record.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= form_for @record do |f| %>
  <%= f.label "name", "Name" %>
  <%= f.text_field "name" %>
  <%= f.submit "save" %>
<% end %>

<%= will_paginate %>
  <table class="records">
    <colgroup>
      <col class="records_column_1">
      <col class="records_column_2">
    </colgroup>
    <tr>
      <th>Name</th>
    </tr>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.name %></td>
      </tr>
    <% end %>
  </table>
<%= will_paginate %>
