<%= provide :title, "Home" %>

<div class="col-3">
  <%= render "shared/error_messages", resource: @record %>
  <%= render "shared/record_form", button_text: "Save" %>
</div>

<div id="table-panel" class="col-9 records">
  <div id="export-records">
    <%= link_to "Export all records to CSV", "/records.csv" %>
  </div>
  <div id="table-container">
    <%= render "records/records_display" %>
  </div>
  <%= paginate @records %>
</div>
