<div id="blood-pressure" class="row">
  <div class="col-sm-6, col-md-6, col-lg-6">
    <%= o.label :systolic_in_mmhg, "Systolic (mm Hg)" %><br />
    <%= o.text_field :systolic_in_mmhg, class: "form-control" %>
  </div>
  <div class="col-sm-6, col-md-6, col-lg-6">
    <%= o.label :diastolic_in_mmhg, "Diastolic (mm Hg)" %><br />
    <%= o.text_field :diastolic_in_mmhg, class: "form-control" %>
  </div>
</div>
<div>
  <%= o.label :date, "Date" %><br />
  <%= o.date_field :date, class: "form-control" %>
</div>
