<%= provide :title, "Sign in" %>

<div class="row">
  <div class="col-6">
    <%= form_for resource, as: resource_name, url: session_path(resource_name), html: { class: "form-signin" } do |f| %>
      <h2 class="form-signin-heading">Sign in</h2>

      <div><%= f.email_field :email, class: "form-control", placeholder: "Email address", autofocus: true %></div>
      <div><%= f.password_field :password, class: "form-control", placeholder: "Password" %></div>

      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <% end -%>

      <div><%= f.submit "Sign in", class: "btn btn-large btn-primary" %></div>
    <% end %>
  </div>
</div>

<%= render "devise/shared/links" %>
