<div class="row">
  <div class="col-sm-6, col-md-6, col-lg-6">
    <%= o.label :height_in_inches, "Height (in)" %><br />
    <%= o.text_field_without_bootstrap :height_in_inches, class: "form-control" %>
  </div>
  <div class="col-sm-6, col-md-6, col-lg-6">
    <%= o.label :waist_circumference_in_inches, "Waist (in)" %><br />
    <%= o.text_field_without_bootstrap :waist_circumference_in_inches, class: "form-control" %>
  </div>
</div>
<div class="row">
  <div class="col-sm-5, col-md-5, col-lg-5">
    <%= o.label :weight_in_pounds, "Weight (lb)" %><br />
    <%= o.text_field_without_bootstrap :weight_in_pounds, class: "form-control" %>
  </div>
  <div class="col-sm-7, col-md-7, col-lg-7">
    <%= o.label :date, "Date" %><br />
    <%= o.date_field_without_bootstrap :date, class: "form-control" %>
  </div>
</div>
