<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <%= link_to "Waivers Grant Data", patients_path, class: "navbar-brand" %>
    </div>

    <div class="collapse navbar-collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav pull-right">
      <% if signed_in? %>
        <li><%= link_to "Patients", patients_path %></li>
        <li><%= yield(:nav_export_link) if content_for?(:nav_export_link) %></li>
        <li><%= link_to "#{current_user.email}", edit_user_path(current_user.id) %></li>
        <li><%= link_to "Sign out", signout_path, method: :delete %></li>
      <% end %>
      <% if signed_in? && current_user.admin? %>
        <li><%= link_to "Manage users", users_path %></li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>
