<!DOCTYPE html>
<html>
<head>
  <title>Waivers Grant Data | <%= yield :title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/navigation" %>
  <div class="container">
    <hr id="g-a1c" class="guide" />
    <hr id="g-acr" class="guide" />
    <hr id="g-blood-pressure" class="guide" />
    <hr id="g-bun-and-creatinine" class="guide" />
    <hr id="g-cholesterol" class="guide" />
    <hr id="g-ckd-stage" class="guide" />
    <hr id="g-eye-exam" class="guide" />
    <hr id="g-foot-exam" class="guide" />
    <hr id="g-measurements" class="guide" />
    <hr id="g-testosterone" class="guide" />
    <hr id="g-display-bottom" class="guide" />

    <div id="flash" class="row">
      <%= render "layouts/messages" %>
    </div>
    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>
  <footer>
  </footer>
</body>
</html>
